---

- name: create mysql container
  docker_container:
    name: "{{ container_name }}"
    restart_policy: always
    #restart: yes
    image: mysql
    env:
      MYSQL_USER: "{{ db_user }}"
      MYSQL_DATABASE: "{{ db_name }}"
      MYSQL_PASSWORD: "{{ db_password }}"
      MYSQL_ROOT_PASSWORD: "{{ db_root_password }}"
    volumes:
      - /var/lib/mysql
    networks:
      - name: "{{ network_name }}"


